on:
  push:
    tags:
      - '*.*.*'

name: Release for module consumption
jobs:
  Validate: 
    name: Validate Terraform
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
    - name: Terraform Init
      run: terraform init
    - name: Terraform Validate
      run: terraform validate   
  Release:
    name: Release
    runs-on: ubuntu-latest
    steps:
    - uses: ncipollo/release-action@v1.16.0
      with:
        generateReleaseNotes: true
        name: "v${{ github.ref_name }}"
        token: ${{ secrets.GITHUB_TOKEN }}